/*
---------------------------------------------
about
---------------------------------------------
*/
#about {
    padding: 50px;
    border-bottom: 1px solid #eee;

}

@media (max-width: 765px) {
    #about {
        padding: 20px 0px 120px 0px;
    }
}

#about .right-text {
    align-self: center;
}

#about .right-text p {
    margin-bottom: 20px;
}

.headerabout {
    text-align: center;
    margin-bottom: 15px;
}

/* 
---------------------------------------------

services
--------------------------------------------- 
*/
.headerservice {
    text-align: center;
    color: #eee;
    margin-bottom: 15px;
}

#services {
    position: relative;
    padding: 50px 0px 90px 0px;
    background: rgba(0, 136, 232, 1);
    background: -moz-linear-gradient(-45deg,
            rgba(0, 136, 232, 1) 0%,
            rgba(0, 182, 198, 1) 0%,
            rgba(0, 136, 232, 1) 100%);
    background: -webkit-gradient(left top,
            right bottom,
            color-stop(0%, rgba(0, 136, 232, 1)),
            color-stop(0%, rgba(0, 182, 198, 1)),
            color-stop(100%, rgba(0, 136, 232, 1)));
    background: -webkit-linear-gradient(-45deg,
            rgba(0, 136, 232, 1) 0%,
            rgba(0, 182, 198, 1) 0%,
            rgba(0, 136, 232, 1) 100%);
    background: -o-linear-gradient(-45deg,
            rgba(0, 136, 232, 1) 0%,
            rgba(0, 182, 198, 1) 0%,
            rgba(0, 136, 232, 1) 100%);
    background: -ms-linear-gradient(-45deg,
            rgba(0, 136, 232, 1) 0%,
            rgba(0, 182, 198, 1) 0%,
            rgba(0, 136, 232, 1) 100%);
    background: linear-gradient(135deg,
            rgba(0, 136, 232, 1) 0%,
            rgba(0, 182, 198, 1) 0%,
            rgba(0, 136, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1);

}

.service-item {
    cursor: pointer;
    display: block;
    background: #ffffff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
}

@media screen and (max-width: 920px) {
    .service-item {
        margin: 0px 30px !important;
    }
}

.service-item .icon {
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    background: #00b4c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.service-item .icon img {
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-item .service-title {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.service-item p {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
}

.service-item {
    margin-top: 30px;
    display: inline-block;
    border-radius: 15px 50px;
}


/* 
---------------------------------------------

projects
--------------------------------------------- 
*/
.headerproject {
    text-align: center;
    margin-bottom: 15px;
}

#projects {
    position: relative;
    padding: 50px 0px 90px 0px;
    background-color: #F7F7F7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1);
}

.project-item {
    cursor: pointer;
    display: block;
    background: #ffffff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
}

@media screen and (max-width: 920px) {
    .project-item {
        margin: 0px 30px !important;
    }
}

.project-item:hover .icon,
.project-item:hover a.main-button {
    background-color: #0088e8;
}

.project-item .icon {
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    background: #00b4c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

.project-item .icon img {
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-item .project-title {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.project-item p {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
}

.project-item a.main-button {
    margin-top: 30px;
    display: inline-block;
}

.owl-carousel .owl-dots {
    margin-top: 60px;
    text-align: center;
    align-self: center;
}

.owl-carousel button.owl-dot span {
    border-radius: 50%;
    background-color: rgb(218, 26, 26);
    width: 5px;
    height: 5px;
    display: inline-block;
    margin: 0px 5px;
}

.owl-carousel button.active span {
    width: 8px;
    height: 8px;
    padding-top: 1.5px;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-nav button.owl-next span {
    top: 32%;
    border-radius: 50%;
    font-size: 36px;
    color: rgb(173, 21, 21);
    right: -80px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    background-color: rgba(250, 250, 250, 0.15);
    position: absolute;
}

.owl-carousel .owl-nav button.owl-prev span {
    top: 32%;
    border-radius: 50%;
    font-size: 36px;
    color: #fff;
    left: -80px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    background-color: rgba(250, 250, 250, 0.15);
    position: absolute;
}

@media screen and (max-width: 1320px) {
    .owl-carousel .owl-nav {
        display: none !important;
    }
}